@import "variables";

.grid-element {
  height: 100%;
  border-radius: 5px;
  color: var(--color);
  background-color: var(--color);
  cursor: pointer;
  overflow: hidden;
}

.selected {
  border: solid 2px var(--color);
  background-color: transparent;
}

.reserved {
  background-color: $gray-500;
  cursor: default;
}

.unavailable {
  visibility: hidden;
}
