<section>
  <header>
    <h1>Step {{selectedIndex + 1}}</h1>
  </header>
  <nav>
    <ol>
      <ng-container *ngFor="let step of steps; let i = index">
        <li [class.fw-bold]="selectedIndex === i">
          <a>
            <ng-container *ngIf="step.stepLabel; else labelText" [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
            <ng-template #labelText>{{step.label}}</ng-template>
          </a>
        </li>
      </ng-container>
    </ol>
  </nav>
  <div *ngIf="selected">
    <ng-container [ngTemplateOutlet]="selected.content">
    </ng-container>
  </div>
</section>
