<div class="container-fluid">
  <h2>Auditorium parts</h2>
  <form *ngIf="auditoriumPartsForm" [formGroup]="auditoriumPartsForm">
    <div class="container-fluid d-grid gap-2" formArrayName="parts">
      <ng-container *ngFor="let _ of auditoriumPartsFormArray.controls; let i = index" [formGroupName]="i">
        <div class="row">
          <div class="col-12">
            <label for="auditorium-part-name-{{i}}" class="form-label">Name</label>
            <input type="text" class="form-control" id="auditorium-part-name-{{i}}" formControlName="name">
          </div>
        </div>
        <div class="row" formGroupName="dimension">
          <div class="col-6">
            <label for="auditorium-part-rows-{{i}}" class="form-label">Rows</label>
            <input type="number" class="form-control" id="auditorium-part-rows-{{i}}" formControlName="rows">
          </div>
          <div class="col-6">
            <label for="auditorium-part-columns-{{i}}" class="form-label">Seats</label>
            <input type="number" class="form-control" id="auditorium-part-columns-{{i}}" formControlName="columns">
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger" (click)="removeAuditoriumPartForm(i)">Remove</button>
      </ng-container>
      <button type="button" class="btn btn-success mt-3" (click)="addAuditoriumPartForm()">Add another auditorium part
      </button>
    </div>
  </form>

  <footer class="mt-4 d-flex justify-content-center">
    <button class="btn btn-primary mx-1" cdkStepperPrevious>Previous</button>
    <button class="btn btn-primary mx-1" cdkStepperNext (click)="onSubmit()">Next</button>
  </footer>
</div>
