<div class="container-fluid">
  <h2>Auditorium seat pricing policies</h2>
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <div class="container-fluid d-grid gap-2" formArrayName="seatPricingPolicies">
      <ng-container *ngFor="let _ of formArray.controls; let i = index" [formGroupName]="i">
        <div>
          <label for="item-price-{{i}}" class="form-label">Price</label>
          <input type="number" class="form-control" id="item-price-{{i}}" formControlName="price">
        </div>
        <button type="button" class="btn btn-outline-danger" (click)="removeItemFormGroup(i)">Remove</button>
      </ng-container>
      <button type="button" class="btn btn-success mt-3" (click)="addItemFormGroup()">Add another pricing policy</button>
    </div>
  </form>

  <footer class="mt-4 d-flex justify-content-center">
    <button class="btn btn-primary mx-1" cdkStepperPrevious>Previous</button>
    <button class="btn btn-primary mx-1" cdkStepperNext (click)="onSubmit()">Next</button>
  </footer>
</div>
