<div class="container-fluid">
  <h2>Auditorium seats</h2>
  <div class="d-grid gap-2" *ngIf="auditorium$ | async as auditorium">
    <admin-auditorium-seat-pricing-policies-group
        [auditoriumSeatPricingPolicies]="auditorium.seatPricingPolicies"></admin-auditorium-seat-pricing-policies-group>
    <admin-auditorium-parts-grid [auditoriumParts]="auditorium.parts"></admin-auditorium-parts-grid>
  </div>

  <footer class="mt-4 d-flex justify-content-center">
    <button class="btn btn-primary mx-1" cdkStepperPrevious>Previous</button>
    <button class="btn btn-primary mx-1" cdkStepperNext>Create</button>
  </footer>
</div>
