/*
 * Color system
 */

$primary: #fd950d;
$dark:    #131313;

$min-contrast-ratio: 2.20;

/*
 * Typography
 */

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

/*
 * 3rd party libraries
 */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
