/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

@import "fonts";

/*
 * Theme variables, must be included before the libraries to allow overriding defaults.
 */

@import "variables";

/*
 * 3rd party libraries.
 */

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr";

@import "node_modules/swiper/swiper";
@import "node_modules/swiper/modules/navigation/navigation";
@import "node_modules/swiper/modules/pagination/pagination";

/*
 * Theme customization.
 */

@import "theme";

/*
 * Default customization.
 */

html {
  height: 100%;
  display: grid;
}

body {
  display: grid;
}
