<div class="container-fluid">
  <h1 class="mt-2 mb-4">Створення вистави</h1>
  <div class="row">
    <div class="col-sm-3 order-1 order-sm-0">
      <p>Попередній перегляд</p>
      <img class="poster-preview img-fluid bd-placeholder-img card-img-top"  *ngIf="posterPreview; else posterPlaceholder" [src]="posterPreview" alt="Попередній перегляд афіші">
      <ng-template #posterPlaceholder>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="300" xmlns="http://www.w3.org/2000/svg"
             role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Афіша</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
      </ng-template>
      <img class="backdrop-preview img-fluid card-img-bottom" *ngIf="backdropPreview; else backdropPlaceholder" [src]="backdropPreview" alt="Попередній перегляд основного зображення">
      <ng-template #backdropPlaceholder>
        <svg class="bd-placeholder-img card-img-bottom" width="200" xmlns="http://www.w3.org/2000/svg"
             role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Афіша</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
      </ng-template>
      <div class="card-body">
        <h5 class="card-title placeholder-glow">
          <span class="placeholder col-6"></span>
        </h5>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-4"></span>
          <span class="placeholder col-6"></span>
          <span class="placeholder col-8"></span>
        </p>
        <a tabindex="-1" class="btn btn-primary disabled placeholder col-12"></a>
      </div>
    </div>
    <form class="col-sm-9 mb-4 mb-sm-0" [formGroup]="form" (ngSubmit)="submit()">
      <div class="col-12 mb-3">
        <label for="titleInput" class="form-label">Назва</label>
        <input type="text" class="form-control" id="titleInput" placeholder="Вистава" formControlName="title">
      </div>
      <div class="col-12 mb-3">
        <label for="descriptionTextarea" class="form-label">Про виставу</label>
        <textarea class="form-control" id="descriptionTextarea" placeholder="Опис вистави"
                  rows="5" formControlName="description">
      </textarea>
      </div>
      <div class="col-12 mb-3">
        <label for="genreSelect" class="form-label">Жанр</label>
        <select class="form-select" id="genreSelect" formControlName="genre">
          <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.displayName}}</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="durationInput" class="form-label">Тривалість (хв.)</label>
        <input type="number" class="form-control" id="durationInput" placeholder="120" formControlName="duration">
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Афіша</label>
        <shared-file-upload fileType="image/*" formControlName="poster"
                            (filePreviewChange)="changePosterPreview($event)">
        </shared-file-upload>
      </div>
      <div class="col-12 mb-3">
        <label class="form-label">Основне зображення</label>
        <shared-file-upload fileType="image/*" formControlName="backdrop"
                            (filePreviewChange)="changeBackdropPreview($event)">
        </shared-file-upload>
      </div>
      <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Створити виставу</button>
      </div>
    </form>
  </div>
</div>
