<nav class="d-flex flex-row flex-sm-column flex-grow-1 flex-shrink-0 p-3 text-white bg-dark">
  <a class="d-flex justify-content-center align-items-center" routerLink="/admin">
    <img class="logo" src="/assets/images/brand-logo-simplified.svg" alt="Logo" width="32">
  </a>
  <hr class="d-none d-sm-block">
  <ul class="nav nav-pills d-none d-sm-flex flex-column flex-nowrap flex-grow-1 mb-auto">
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <i class="fa-solid fa-house fa-fw me-2"></i>
        <span>Адміністрування</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/performances" routerLinkActive="active">
        <i class="fa-solid fa-masks-theater fa-fw me-2"></i>
        <span>Репертуар</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/events" routerLinkActive="active">
        <i class="fa-solid fa-calendar-days fa-fw me-2"></i>
        <span>Події</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/auditoriums" routerLinkActive="active">
        <i class="fa-solid fa-kaaba fa-fw me-2"></i>
        <span>Глядацькі зали</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/admin/employees" routerLinkActive="active">
        <i class="fa-solid fa-people-group fa-fw me-2"></i>
        <span>Персонал</span>
      </a>
    </li>
  </ul>
  <hr class="d-none d-sm-block">
  <div class="dropdown flex-shrink-1 ms-auto mt-sm-auto ms-sm-0">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://lh3.googleusercontent.com/a/AATXAJyYKgDNv9MirpiTb2BucqRSpvYJsWhto5Yw53IU=s196"
           alt="Profile picture" width="48" height="48" class="rounded-circle">
      <span class="d-none d-sm-block ms-sm-3 text-truncate">Артур Кашапов</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="profileDropdown">
      <li class="d-sm-none">
        <a class="dropdown-item text-center">
          <span>Артур Кашапов</span>
        </a>
      </li>
      <li class="d-sm-none">
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" routerLink="/admin/profile">
          <i class="fa-solid fa-user fa-fw me-2"></i>
          <span>Обліковий запис</span>
        </a>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item" routerLink="/auth/sign-out">
          <i class="fa-solid fa-right-from-bracket fa-fw me-2"></i>
          <span>Вийти</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
