<div class="container-fluid">
  <form class="row" [formGroup]="form" (ngSubmit)="submit()">
    <div class="col-12 mb-3">
      <label for="titleInput" class="form-label">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Performance" formControlName="title">
    </div>
    <div class="col-12 mb-3">
      <label for="descriptionTextarea" class="form-label">Description</label>
      <textarea class="form-control" id="descriptionTextarea" placeholder="Details of the performance"
                rows="5" formControlName="description">
      </textarea>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Poster image</label>
      <shared-file-upload fileType="image/*" formControlName="poster"
                          (filePreviewChange)="changePosterPreview($event)">
      </shared-file-upload>
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Backdrop image</label>
      <shared-file-upload fileType="image/*" formControlName="backdrop"
                          (filePreviewChange)="changeBackdropPreview($event)">
      </shared-file-upload>
    </div>
    <div class="col-12 mb-3" *ngIf="genres">
      <label for="genreSelect" class="form-label">Performance Genre</label>
      <select class="form-select" id="genreSelect" aria-label="Select performance genre" formControlName="genre">
        <option *ngFor="let genre of genres" [ngValue]="genre">{{genre.displayName}}</option>
      </select>
    </div>
    <div class="col-12 mb-3">
      <label for="durationInput" class="form-label">Duration (minutes)</label>
      <input type="number" class="form-control" id="durationInput" placeholder="120" formControlName="duration">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="row">
    <div class="col-3" *ngIf="posterPreview">
      <img class="poster-preview" alt="Poster preview" [src]="posterPreview">
    </div>
    <div class="col-9" *ngIf="backdropPreview">
      <img class="backdrop-preview" alt="Poster preview" [src]="backdropPreview">
    </div>
  </div>
</div>
