<div class="container-fluid d-flex flex-column h-100 px-0">
  <header class="d-flex flex-wrap align-items-center justify-content-center bg-dark border-bottom shadow-sm py-3">
    <img class="logo" src="/assets/images/brand-logo-simplified.svg" alt="Logo" width="32">
  </header>
  <main class="py-4 py-lg-5">
    <router-outlet></router-outlet>
  </main>
  <footer class="bg-dark shadow mt-auto py-4">
    <div class="container">
      <span class="text-light">Place sticky footer content here.</span>
    </div>
  </footer>
</div>
