<shared-stepper linear="true">
  <cdk-step [stepControl]="auditoriumForm">
    <ng-template cdkStepLabel>
      <span>Configure the auditorium</span>
    </ng-template>
    <admin-auditorium-step [auditoriumForm]="auditoriumForm"></admin-auditorium-step>
  </cdk-step>

  <cdk-step [stepControl]="auditoriumSeatPricingPoliciesForm">
    <ng-template cdkStepLabel>
      <span>Configure pricing policies</span>
    </ng-template>
    <admin-auditorium-seat-pricing-policies-step
        [formGroup]="auditoriumSeatPricingPoliciesForm"></admin-auditorium-seat-pricing-policies-step>
  </cdk-step>

  <cdk-step [stepControl]="auditoriumPartsForm">
    <ng-template cdkStepLabel>
      <span>Configure auditorium parts</span>
    </ng-template>
    <admin-auditorium-parts-step [auditoriumPartsForm]="auditoriumPartsForm"></admin-auditorium-parts-step>
  </cdk-step>

  <cdk-step>
    <ng-template cdkStepLabel>
      <span>Configure auditorium seats</span>
    </ng-template>
    <admin-auditorium-seats-step [auditorium$]="auditorium$"></admin-auditorium-seats-step>
  </cdk-step>
</shared-stepper>
