<div class="container">
  <h1 class="mb-4">Персонал</h1>
  <div class="d-grid mb-4">
    <a class="btn btn-primary" role="button" routerLink="../create">Створити обліковий запис працівника</a>
  </div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" *ngFor="let employee of employees">
      <div class="row w-100 justify-content-between align-items-start py-2">
        <div class="col">
          <h5 class="mb-0">{{employee.firstName}} {{employee.lastName}}</h5>
          <small class="text-muted">{{employee.email}}</small>
        </div>
        <div class="col-auto">
          <p class="">{{employee.position.displayName}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
