<div class="container">
  <h1 class="mb-4">Глядацькі зали</h1>
  <div class="d-grid mb-4">
    <a class="btn btn-primary" role="button" routerLink="../create">Створити глядацький зал</a>
  </div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" *ngFor="let auditorium of auditoriums">
      <div class="d-flex w-100 justify-content-between align-items-start py-2">
        <div class="d-grid">
          <h5 class="mb-1">{{auditorium.name}}</h5>
          <small class="text-muted">Коментар до глядацького залу</small>
        </div>
      </div>
    </a>
  </div>
</div>
